
*{
        color: rgb(105, 103, 102);
        line-height:1;
    }

body{
    margin: 0;
}
.header-line{
    height: 5px;
    margin-bottom: 20px;
    background-image:linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%)
}
.nav-item a{
    font-weight: bold;
}
.dropdown-menu{
    width: 900px;
  
}
.dropdown-item 

{
    text-align: right;
    font-size: 14px;
    font-weight: normal;
    color: rgb(105, 103, 102);
    line-height: 28px;


}
.col-md-3 .dropdown-item{
    color: black;
    font-weight: bold; 
}
.listitem li{
    list-style-type: none;

}
.listitem{
    padding-right: 0;
}

.header-line{
    height: 5px;
    margin-bottom: 20px;
    background-image:linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%)
}

.left-header p{
    font-size: 13px;
}
.left-header a{
text-decoration: none;}


.search-block{
    background-color: rgb(65, 130, 195);

}


.form-control-feedback{
    position: absolute;
    z-index: 2;
    display: block;
     width: 2.375rem;
    height: 2.375rem; 
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;

}
.form-control{
    height: 50px;
}

.Categories p.a{
    text-align: left;
    font-weight: bold;
    
    }
    
    .Categories .items{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    
    }
    .Categories h1{
        margin-top: 0;
        padding-top: 15px;
    }
    
    .Categories .items .item img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 4px 6px gray;
    
    
    }
    .Categories .items .item{
        margin-right: 30px;
        text-align: center;
    }
    .Categories .items .item p{
    margin-top: 4px;
    color: gray;
    white-space:nowrap;
        }

        .items::-webkit-scrollbar,.categories-block .items::-webkit-scrollbar {
            width: 8px;
            background-color: white;
            height: 10px;
        }
        .items::-webkit-scrollbar-thumb,.categories-block .items::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #4182c3), color-stop(0.72, #4182c3), color-stop(0.86, #4182c3));
        }
        .items::-webkit-scrollbar-track, .categories .categories-block .items::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: white;
            border-radius: 8px;
        }

.font-14{
    font-size: 14px;
}
.fnt-16{
    font-size: 16px;
}

a{
    text-decoration: none;
color: rgb(105, 103, 102);
}
.card{
    box-shadow: rgb(0 0 0 / 25%) 0px 1px 0px 0px;
}
.card img{
    Height: 200px ;
object-fit: cover;
}
.footer-line{

    height: 8px;
    margin-bottom: 20px;
    background-image:linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%)
 
}
.btn1{

    color: white;
    background-color: #7600d9;
    padding-top: 8px;
    width: 130px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: bold;
    height: 30px;



}
.fa-instagram{
background: #815dc7;
color: #fff;
}
.social-links__item {
margin: 4px;
}
.social-links__list{
display: flex;
list-style: none;
padding: 0;
}
.social-links__item a {
font-size: 16px;

display: flex;

align-items: center;

justify-content: center;

width: 36px;
height: 36px;
border-radius: 18px;



}

.heart:hover {
    color: red;
}
.heart {
    top: 20px;
    left: 20px;
}